/* ////////////////////////////////////////////////////////////part8 */
.pic2{
    height: 543px;
}
/* //////////////////////////////////////////part12 */
.finish__item{
    list-style-type: none;
}
.copyright__legal{
    font-size: 14px;
}
.copyright__logo{
    width:50px ;
}
.finish__item:hover {
    text-decoration: underline;
    color:rgb(105, 105, 105) ;
}