@import"variables";

/* ////////////////////////////////////////////////////////////////part1 */
.navigation_li{
    list-style-type: $_list_style_type;
}
.navigation_search:hover{
    color: black;
}
/* /////////////////////////////////////////////////////////////////////////////////part3 */
.back-part3{
    background-color: $_background_color_1;
    height: 100px;
}
.msiCenterLink__title{
    font-size: calc(1vw + 5px);  
}
.maede{
    font-size: calc(1vw + 15px);
}
.msiCenterLink__title:hover{
    text-decoration: $_text_decoration;
}
/* ////////////////////////////////////////////////////////////////////////////////////part4 */
.spotLight__productTitle{
    margin-top: 70px;
    margin-bottom: 30px;
}
/* ////////////////////////////////////////////////////////////////part5 */
.title__cardWrapper{
    font-size: 18px;
}
.spotLightCard, .cardWrapper{
    overflow: hidden; 
}
.pic1, .spotLight{
    transition:$_transition_1;
}
.cardWrapper:hover .pic1{
    transform: scale(1.05,1.05);
}
.cardWrapper:hover .spotLight{
    background-color: $_background_color_1 ;
}
/* ////////////////////////////////////////////////////////////part8 */
.farahnaz{
    padding-left: 40px;
    padding-right: 40px;
}
.spotLightCard1, .spotLightCard2, .spotLightCard3, .cardWrapper{
    overflow: hidden; 
}
.pic2, .pic3, .card__bodyleft, .card__body{
    transition: $_transition_1;
}  
.cardWrapper:hover .pic2{
    transform: scale(1.05,1.05);
}
.cardWrapper:hover .card__body{
    background-color: $_background_color_1 ;
}
.cardWrapper:hover .pic3{
    transform: scale(1.05,1.05);
}
.cardWrapper:hover .card__bodyleft{
    background-color: $_background_color_1 ;
}
/* /////////////////////////////////////////////////////////////////////////////////part9 */
.socialLink__title:hover{
    text-decoration: $_text_decoration;
}
/* ///////////////////////////////////////////////////////////////////////////////////part10 */
.socialMarketingImageWrapper{
    overflow: hidden;
}
.socialMarketingImageWrappe, .pic4{
    transition:$_transition_1;  
}
.socialMarketing__link:hover .linkBody{
    background-color: rgba(236, 236, 236,1.5) ;
    color: white;
}
.socialMarketing__link:hover .pic4{
    transform: scale(1.05,1.05);
}
/* //////////////////////////////////////////////////////////////////////////part11 */
.accordion-body{
    font-size: 19px;
}
.footer_title_part1{
    font-size: 19px;
    color: $_color_1;
    font-weight: bold;
}
