$_transition_1: all 500ms ease 0s;
$_transition_2: all 230ms ease 0s;
$_list_style_type: none;
$_text_decoration: underline;
$_background_color_1: rgb(236, 236, 236);
$_color_1: rgb(105, 105, 105);
 
